.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  min-height: 1.6rem;
  max-height: 1.6rem;
  text-align: center;
  justify-content: flex-start;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.5rem;
  align-items: center;
  background-color: #3d3d3d;
  color: #c5c5c5;
  padding: 0;
}

.searchInput {
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #c5c5c5;
  padding: 4px !important;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.searchInput::placeholder {
  color: #afafaf;
  padding: 4px;
}

*:focus {
  outline: 1px solid cornflowerblue;
}

.footer {
  display: flex;
  flex-direction: row;
  min-height: 1.4rem;
  max-height: 1.4rem;
  justify-content: flex-start;
  font-size: 0.75rem;
  font-weight: 400;
  background-color: rgb(119, 119, 119);
  color: #fff;
  padding: 0 8px;
  z-index: 1;
}

.footerSpacer {
  display: flex;
  flex-grow: 1;
}

.footerButton {
  display: flex;
  margin: 0;
  flex-direction: row;
  height: 100%;
  cursor: pointer;
  padding: 0 4px;
  background-color: transparent;
  align-items: center;
}

.footerButton:hover {
  background-color: rgb(145, 145, 145);
}

code {
  font: inherit;
  color: #c5c5c5;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 0.7rem;
  margin: 0;
  padding: 1px 6px;
  background-color: rgb(61, 61, 61);
  border-radius: 4px;
  border-bottom: 2px solid #575757;
}

.commandLabel {
  color: #969696;
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.split {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.splitPanel {
  display: flex;
}

.tabContainer {
  display: flex;
  flex-direction: column;
}

.tabStrip {
  display: flex;
  flex-direction: row;
  background-color: #303030;
}

.tabButton {
  display: flex;
  font-size: 0.9rem;
  line-height: 1;
  flex-direction: row;
  padding: 8px 16px 12px 16px;
  min-width: 40px;
  cursor: pointer;
  background-color: #383838;
  border-right: 1px solid #2e2e2e;
  color: #a0a0a0;
}

.tabButton.active {
  background-color: #252525;
  color: white;
}

.tabCloseButton {
  display: flex;
  align-self: flex-end;
  margin-left: 14px;
  opacity: 0;
}

.tabButton.active > .tabCloseButton,
.tabButton:hover > .tabCloseButton {
  opacity: 1;
}

.tab {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.button {
  margin-top: 20px;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #575757;
  border-radius: 4px;
  background-color: #3d3d3d;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  font-variant-caps: all-small-caps;
}

.button:hover {
  background-color: #414141;
}

.buttonSmall {
  margin-top: 20px;
  margin-right: 8px;
  font-size: 0.8rem;
  border: none;
  border-bottom: 1px solid #354175;
  border-radius: 2px;
  background-color: #4559b1;
  color: white;
  padding: 6px 16px;
  cursor: pointer;
  font-variant-caps: all-small-caps;
}

.buttonSmall:hover {
  background-color: #586cc5;
}

.buttonGrey {
  border-bottom: 1px solid #3a3a3a;
  background-color: #555;
}

.buttonGrey:hover {
  background-color: #6b6b6b;
}

.detailPane {
  padding: 0;
  height: 100%;
  overflow-y: auto;
  background-color: #2b2b2b;
}

.detailHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  min-height: 26px;
  max-height: 26px;
  padding: 5px 10px 10px 10px;
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
  color: lightgray;
}

.detailHeader .buttonTray {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.detailHeader .buttonTray .button {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.detailContent {
  white-space: pre-wrap;
  padding: 0 20px;
  font-size: 1rem;
  color: lightgray;
  line-height: 200%;
}

.form {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: rgb(224, 224, 224);
  padding: 10px 20px;
}

.form label {
  display: flex;
  font-size: 0.8rem;
  padding: 4px 0;
  font-weight: 600;
}

.form input {
  display: flex;
  margin: 4px 0;
  padding: 6px;
  background-color: #303030;
  color: rgb(209, 209, 209);
  font-weight: 200;
  border: none;
}

.inlineFieldGroup {
  display: flex;
  flex-direction: row;
}

.formField {
  margin-bottom: 20px;
}

.textXs {
  font-size: 0.8rem;
  color: rgb(194, 194, 194);
  padding-bottom: 4px;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.message {
  display: flex;
  text-align: center;
  font-size: 0.9rem;
  color: #d4d4d4;
}

.logEntry {
  color: #e2e2e2;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.logTag {
  display: flex;
  flex-direction: row;
}

.logTag > * {
  margin-right: 16px;
}

.logTagTime {
  display: flex;
  color: #969696;
}

.logTagLevel {
  display: flex;
  min-width: 40px;
}

.logTagMessage {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
}

.listLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 1.5;
  color: lightgray;
  padding: 4px 4px 4px 12px;
}

.listLine:hover {
  background-color: #2e2e2e;
}

.listLine.selected {
  background-color: #3d3d3d;
}

.listLine:hover * {
  opacity: 1;
}

.listLineText {
  display: flex;
  flex-grow: 1;
}

.listLineButton {
  display: flex;
  opacity: 0;
  cursor: pointer;
}

.listLineIcon {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 50px;
  max-width: 50px;
  background-color: #3d3d3d;
  color: #a0a0a0;
  padding: 0;
}

.sidebarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  max-height: 50px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.sidebarButton.active {
  border-left: 1px solid white;
  color: white;
}

.sidebarButton > div {
  display: flex;
}

.sidebarButton:hover {
  color: white;
}

.sidebarButton:focus {
  border: none !important;
  border-left: 1px solid cornflowerblue !important;
}

.container {
  padding: 0;
  margin: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, serif;
  padding: 0;
  margin: 0;

  /* border-bottom: 1px solid #3d3d3d; */
  cursor: pointer;
  font-size: 0.9rem;

  /* line-height: 1.2rem; */
  min-height: 0.9rem;
  overflow-x: hidden;
}

.line:hover {
  background-color: #2e2e2e;
}

.line.selected {
  background-color: #3d3d3d;
}

.gutter {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  padding: 0 12px;
  margin: 0;
  min-width: 30px;
  max-width: 30px;
  color: #969696;
  border-right: 4px solid #3d3d3d;
}

.TRACE {
  border-color: #3d3d3d !important;
}

.DEBUG {
  border-color: #3d3d3d !important;
}

.INFO {
  border-color: #5b7fad !important;
}

.WARNING {
  border-color: #c5ad43 !important;
}

.ERROR {
  border-color: #a74545 !important;
}

.CRITICAL {
  border-color: #000 !important;
}

.highlight {
  background-color: rgb(105, 74, 38);
  color: #e2e2e2;
}
