/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  color: white;
  height: calc(100vh - 20px);
  padding: 0;
  margin: 0;
  background-color: #252627;
  font-family: -apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  overflow: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 1rem;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  /* width */
  width: 12px;
}

::-webkit-scrollbar-track {
  /* Track */
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  /* Handle */
  background: rgb(110, 110, 110, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: rgb(110, 110, 110, 0.7);
}

::-webkit-scrollbar-thumb:active {
  /* Handle on hover */
  background: rgb(110, 110, 110, 0.9);
}

::-webkit-scrollbar-track-piece {
  /* not handle on */
  background: #292929;
}

